# General ignores
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
$py.class

# Java-specific ignores
/target/
/bin/
/build/
*.jar
*.war
*.ear
/lib/
*.class

# Python-specific ignores
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.log.*

# IDE-specific ignores
.idea/
.vscode/
*.iml

# Compiled Java and Python files
*.class
*.jar
*.pyc
